



@font-face {
    font-family: 'metal_lord';
    src: url('metal_lord.woff2') format('woff2'),
         url('metal_lord.woff') format('woff'),
         url('metal_lord.svg#metal_lordregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'metal_lord';
    src: url('metal_lord.woff2') format('woff2'),
         url('metal_lord.woff') format('woff'),
         url('metal_lord.svg#metal_lordregular') format('svg');
    font-weight: normal;
    font-style: normal;

}